@font-face {
  font-family: 'Puritan';
  font-style: normal;
  font-weight: normal;
  src: local('Puritan Regular'), local('Puritan-Regular'), url('http://themes.googleusercontent.com/static/fonts/puritan/v4/WM9JYVwltox4cZu0WPnP1g.woff') format('woff');
}
